#app .react-application
  opacity: 1
  margin-left: 0px

.offer-tile
  .tile-img
    height: 100px
  .tile-price
    padding-left: 5px
  &:hover
    cursor: pointer

.navigation
  margin-bottom: 10px

.offer-gallery
  height: 800px

.srv-validation-message
  color: red