@font-face
  font-family: 'opensans'
  src: url('../fonts/opensans-bold-webfont.eot')
  src: url('../fonts/opensans-bold-webfont.eot?#iefix') format("embedded-opentype"), url('../fonts/opensans-bold-webfont.woff2') format("woff2"), url('../fonts/opensans-bold-webfont.woff') format("woff"), url('../fonts/opensans-bold-webfont.ttf') format("truetype"), url('../fonts/opensans-bold-webfont.svg#open_sansbold') format("svg")
  font-weight: bold
  font-style: normal


@font-face
  font-family: 'opensans'
  src: url('../fonts/opensans-italic-webfont.eot')
  src: url('../fonts/opensans-italic-webfont.eot?#iefix') format("embedded-opentype"), url('../fonts/opensans-italic-webfont.woff2') format("woff2"), url('../fonts/opensans-italic-webfont.woff') format("woff"), url('../fonts/opensans-italic-webfont.ttf') format("truetype"), url('../fonts/opensans-italic-webfont.svg#open_sansitalic') format("svg")
  font-weight: normal
  font-style: italic


@font-face
  font-family: 'opensans'
  src: url('../fonts/opensans-light-webfont.eot')
  src: url('../fonts/opensans-light-webfont.eot?#iefix') format("embedded-opentype"), url('../fonts/opensans-light-webfont.woff2') format("woff2"), url('../fonts/opensans-light-webfont.woff') format("woff"), url('../fonts/opensans-light-webfont.ttf') format("truetype"), url('../fonts/opensans-light-webfont.svg#open_sanslight') format("svg")
  font-weight: 200
  font-style: normal

@font-face
  font-family: 'opensans'
  src: url('../fonts/opensans-regular-webfont.eot')
  src: url('../fonts/opensans-regular-webfont.eot?#iefix') format("embedded-opentype"), url('../fonts/opensans-regular-webfont.woff2') format("woff2"), url('../fonts/opensans-regular-webfont.woff') format("woff"), url('../fonts/opensans-regular-webfont.ttf') format("truetype"), url('../fonts/opensans-regular-webfont.svg#open_sansregular') format("svg")
  font-weight: normal
  font-style: normal