$open-sans: "opensans"

=unstyled-list
  padding: 0
  margin: 0
  list-style: none

=font-awesome
  display: inline-block
  font-family: FontAwesome
  font-style: normal
  font-weight: normal
  line-height: 1
  font-smoothing: antialiased

=glyphicon
  position: relative
  top: 1px
  display: inline-block
  font-family: 'Glyphicons Halflings'
  font-style: normal
  font-weight: normal
  line-height: 1
  font-smoothing: antialiased